-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: localhost    Database: crowdpulse
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `community_updates`
--

DROP TABLE IF EXISTS `community_updates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `community_updates` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `place_id` bigint NOT NULL,
  `reported_queue_length` int DEFAULT NULL,
  `throughput_per_min` int DEFAULT NULL,
  `queue_status` varchar(255) DEFAULT NULL,
  `note` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `community_updates`
--

LOCK TABLES `community_updates` WRITE;
/*!40000 ALTER TABLE `community_updates` DISABLE KEYS */;
/*!40000 ALTER TABLE `community_updates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `place_details`
--

DROP TABLE IF EXISTS `place_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `place_details` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `place_id` bigint unsigned NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `significance` varchar(255) DEFAULT NULL,
  `best_time` varchar(255) DEFAULT NULL,
  `peak_months` json DEFAULT NULL,
  `off_peak_months` json DEFAULT NULL,
  `daily_timings` json DEFAULT NULL,
  `rituals` json DEFAULT NULL,
  `reach_info` json DEFAULT NULL,
  `images` json DEFAULT NULL,
  `tags` json DEFAULT NULL,
  `avg_daily_footfall` int DEFAULT NULL,
  `festival_rush_multiplier` double DEFAULT NULL,
  `queue_config` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_place_details_place` (`place_id`),
  CONSTRAINT `fk_place_details_place` FOREIGN KEY (`place_id`) REFERENCES `places` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `place_details`
--

LOCK TABLES `place_details` WRITE;
/*!40000 ALTER TABLE `place_details` DISABLE KEYS */;
/*!40000 ALTER TABLE `place_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `places`
--

DROP TABLE IF EXISTS `places`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `places` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `description` text,
  `type` enum('QUEUE','VIBE','TIMED') NOT NULL,
  `city` varchar(255) DEFAULT NULL,
  `state` varchar(255) DEFAULT NULL,
  `country` varchar(255) DEFAULT NULL,
  `latitude` double NOT NULL,
  `longitude` double NOT NULL,
  `radius` int NOT NULL,
  `capacity` int DEFAULT '1000',
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `scaling_factor` double DEFAULT '1.2',
  `admin_offset` int DEFAULT '0',
  `base_throughput` int DEFAULT '30',
  `peak_start` varchar(255) DEFAULT NULL,
  `peak_end` varchar(255) DEFAULT NULL,
  `peak_multiplier` double DEFAULT '1.5',
  `season_multiplier` double DEFAULT '1',
  `max_daily_capacity` int DEFAULT '13000',
  `concurrent_capacity` int DEFAULT '2000',
  `queue_status` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_places_type` (`type`),
  KEY `idx_places_location` (`latitude`,`longitude`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `places`
--

LOCK TABLES `places` WRITE;
/*!40000 ALTER TABLE `places` DISABLE KEYS */;
/*!40000 ALTER TABLE `places` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `queue_metrics`
--

DROP TABLE IF EXISTS `queue_metrics`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `queue_metrics` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `place_id` bigint DEFAULT NULL,
  `timestamp` datetime DEFAULT NULL,
  `active_users` int DEFAULT NULL,
  `shadow_users` int DEFAULT NULL,
  `total_people` int DEFAULT NULL,
  `corrected_people` int DEFAULT NULL,
  `throughput` double DEFAULT NULL,
  `wait_time` int DEFAULT NULL,
  `efficiency_factor` double DEFAULT '0.35',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=750 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `queue_metrics`
--

LOCK TABLES `queue_metrics` WRITE;
/*!40000 ALTER TABLE `queue_metrics` DISABLE KEYS */;
/*!40000 ALTER TABLE `queue_metrics` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-12 20:01:24
